.container {
    border: 1px rgb(168, 166, 166) solid;
    border-radius: 5px;
    background-color: white;
    margin:5px;
    padding: 2px;
    width: 315px;
    display: flex;
    overflow-wrap: break-word;
    /* @sldsValidatorIgnore */
    text-overflow: wrap;
    /* @sldsValidatorIgnore */
    white-space: normal;
    word-wrap:break-word;
    /* font-weight: bold; */
    height: 100px;
    
}

.slds-card__header-link {
    font-weight: bold;
    overflow-wrap: break-word;
    max-width: 100%;    
    overflow: clip;
    word-wrap:break-word;
    /* @sldsValidatorIgnore */
    text-overflow: wrap;
    /* @sldsValidatorIgnore */
    white-space: normal; 
    /* @sldsValidatorIgnore */
    text-overflow: ellipsis;
    /* @sldsValidatorIgnore */
    white-space: normal;
}

.caseSmall{
    color: var(--slds-g-color-neutral-base-40, var(--lwc-colorTextWeak));
    font-size: small;
}
.content {
    display: flex;
    flex: 1;
  }
  .main{
    flex: 1;
    order: 2;
    padding-top: 2px;
    padding-right: 15px; 
  }
  .sidebar-second{ 
    order: 3;
  }

a {
    text-decoration: none;
}

a:link {
    color: rgb(159, 159, 159);
}
a:visited {
    color: green;
}
a:hover {
    color: hotpink;
}
a:active {
    color: blue;
}